<div class="ui inverted main menu">
  <div class="ui container">
    <div class="inverted header item">
      {{#link-to 'application'}}
        <i class="large suitcase icon"></i>
        DYEE Youth Jobs Dashboard
      {{/link-to}}
    </div>
    <div class="right menu">
      {{#link-to 'applicants' class='item'}}
        Applicants
      {{/link-to}}
      {{#link-to 'jobs' class='item'}}
        Jobs
      {{/link-to}}
{{!--       <a class="item">
        Campaigns
      </a> --}}
      <a class="item">
        Login
      </a>
      <a class="item">
        Help
      </a>
      <div class="item" id="search-box">
      </div>
    </div>
  </div>
</div>
