<div class="ui inverted main menu">
  <div class="inverted header item">
    Boston Youth Jobs Dashboard
  </div>
  <div class="right menu">
    {{#link-to 'applicants' class='item'}}
      Applicants
    {{/link-to}}
    <div class="item" id="search-box">
    </div>
  </div>
</div>
