<div class="ui inverted main menu">
  <div class="inverted header item">
    {{#link-to 'application'}}
      <i class="large suitcase icon"></i>
      Boston Youth Jobs Dashboard
    {{/link-to}}
  </div>
  <div class="right menu">
    {{#link-to 'applicants' class='item'}}
      Applicants
    {{/link-to}}
    <div class="item" id="search-box">
    </div>
  </div>
</div>
