<table class="ui sortable stackable selectable compact table">
  <thead>
    <tr>
      {{#each fields as |field|}}
        <th>{{field}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each model as |item|}}
      {{#link-to 'applicants.show' item tagName='tr' class='is-clickable'}}
        {{#each fields as |field|}}
          <td>
            {{get item field}}
          </td>
        {{/each}}
      {{/link-to}}
    {{/each}}
  </tbody>
</table>