.leaflet-container {
  height: 480px;
}

.ui-visibility-sticky {
  position: absolute;
  z-index: 9999;
  width: 100%;
}

.sticky-map {
  padding-right: 15px;
  width: 430px;
}

.applicant-profile-close {
  right: -15px; 
  position: absolute; 
  top: -15px; 
  margin-right: 0;
}

.is-clickable {
  cursor: pointer;
}

body {
  background-color: #fafafa;
}