div,h1,h2,h3,h4,h5,span,li,ul,p,a {
  font-family: 'Source Sans Pro', sans-serif;
}

$blue: #1A5678;
$gray: #4E4C4A;
$yellow: #FCF4C4;
$white: #FFFFF7;

.leaflet-container {
  min-height: 300px;
  height:80%;
}

.map-ui-segment {
  height: 100%;
}

.category-search {
  width: 100%;
}

.viewport-vertical-height {
  height: 100%;
}

body>.ember-view {
  height: 100%;
}

.ui-visibility-sticky {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.sticky-map {
  padding-right: 15px;
  width: 430px;
}

.applicant-profile-close {
  right: -15px; 
  position: absolute; 
  top: -15px; 
  margin-right: 0;
}

.is-clickable {
  cursor: pointer;
}

.is-not-interactive {
  pointer-events: none;
}

body {
  background-color: $white;
  margin-bottom: 2em;
}

.ui.table {
  margin-top: 0;
}

.scrollable {
  overflow-x: scroll;
}

.ui.inverted.main.menu {
  border-radius: 0px;
}

.liquid-child {
  padding: 1px;
}

.ui.inverted.main.menu {
  background: $blue;
}

.table-shadow {
  border-right: 20px;
  border-right-color: black;
  height: 102%;
  right: -20px;
  width: 20px;
  top: -20px;
  position: absolute;
  background-color: transparent;
  z-index: 9999;
  -webkit-box-shadow: 9px 0px 30px 9px rgba(48, 50, 50, 0.53);
  -moz-box-shadow:    9px 0px 30px 9px rgba(48, 50, 50, 0.53);
  box-shadow:         9px 0px 30px 9px rgba(48, 50, 50, 0.53);
}

.map-information {
  position: absolute; 
  width:100%; 
  min-height: 20px; 
  z-index:9999; 
  bottom:0;
}

.cbo-contact-info {
  background-color: rgba(255,255,255, 0.8);
  pointer-events: all;
}

.blue {
  background: $blue !important;
  background-color: $blue !important;
}

.ui.blue.label {
  background: $blue !important;
  background-color: $blue !important;
}

.ui.inverted.blue.segment {
  background: $blue !important;
  background-color: $blue !important;
}

.ui.yellow.segment {
  background: $yellow !important;
  background-color: $yellow !important;
}

.results {
  z-index: 9999 !important;
}

.demo-container {
  margin-top: 0.8em;
}

.dark-primary-color    { background: $blue !important; }
.default-primary-color { background: #03A9F4 !important; }
.light-primary-color   { background: #B3E5FC !important; }
.text-primary-color    { color: #FFFFFF !important; }
.accent-color          { background: $blue !important; }
.primary-text-color    { color: #212121 !important; }
.secondary-text-color  { color: #757575 !important; }
.divider-color         { border-color: #BDBDBD !important; }

.ui.checkbox label, .ui.checkbox + label {
  color: white;
}
