<div class="ui inverted menu">
  <div class="ui container">
    <div class="inverted header item">
      <i class="large suitcase icon"></i>
      DYEE Youth Jobs Dashboard
    </div>
    <div class="right menu">
      <a class="item">
        Applicants
      </a>
      <a class="item">
        Campaigns
      </a>
      <a class="item">
        Login
      </a>
      <a class="item">
        Help
      </a>
    </div>
  </div>
</div>
{{outlet}}