{{application-menu}}
{{#ember-wormhole to='search-box'}}
  {{#ui-search class="ui search fluid" searchFullText=true onSelect=(action 'linkToApplicant') source=source}}
    <input class="prompt" type="text" placeholder="Search by Name">
    <div class="results"></div>
  {{/ui-search}}
{{/ember-wormhole}}
<div style="margin-top: 40px;">
  <div class="ui container">
    <div class="ui grid stackable">
      <div class="ten wide column" style="padding-right:0px;">
        {{liquid-outlet}}
      </div>
      <div class="six wide column" style="padding-left: 0; border-bottom-left-radius: 0px;border-top-left-radius: 0px;">
        <div class="ui segment" style="padding: 0; height:100%;">
          {{#leaflet-map onLoad=(action 'setMapInstance') zoom=mapState.zoom lat=mapState.lat lng=mapState.lng}}
            {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
            {{#each model as |applicant|}}
              {{circle-marker-layer fillColor=(if applicant.isSelected '#FF5722' '#03A9F4') 
                                    stroke=0
                                    fillOpacity=0.9
                                    radius=(if applicant.isSelected '8' '4') 
                                    lat=applicant.latitude 
                                    lng=applicant.longitude 
                                    onClick=(action 'linkTo' applicant)}}
            {{/each}}
          {{/leaflet-map}}
          <div id="pagination">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>