<div class="ui container">
  <br/><br/><br/>
  <div class="ui center aligned segment">
  Whoops! There was an error. Sorry about that. Make sure you follow the link in your e-mail OR make sure you are logged in.
  </div>
</div>