<div class="ui container">
  <div class="ui segment">
    <div class="ui grid">
      <div class="five wide column">
        <div class="ui segment">
          <h2 class="ui header">YouthMatch Status</h2>
          <div class="ui statistics">
            <div class="ui small statistic">
              <div class="value">
                8,016
              </div>
              <div class="label">
                Applicants
              </div>
            </div>
            <div class="ui small statistic">
              <div class="value">
                2,050
              </div>
              <div class="label">
                Accepted
              </div>
            </div>
            <div class="ui small statistic">
              <div class="value">
                150
              </div>
              <div class="label">
                Rejected
              </div>
            </div>
          </div>
        </div>
        <h4 class="ui top attached header">
          Actions
        </h4>
        <div class="ui two bottom attached buttons">
          <div class="ui green button">
            <i class="ui icon user"></i>
            Run Lottery
          </div>
          <div class="ui blue button">
            <i class="ui icon user"></i>
            Run Matching
          </div>
        </div>
      </div>
      <div class="eleven wide column">
        <div class="ui segment">
          <h1>DYEE Youth Jobs Status</h1>
          <img src="/images/distribution.png" class="ui image"/>
          <div class="ui segment">
            <h3 class="ui header">Insights</h3>
            <div class="ui divided list">
              <div class="item">
                Low-Scoring Matches occurred mostly because there are not enough Government jobs
              </div>
              <div class="item">
                Low-Scoring Matches occurred mostly because there are not enough jobs located in South Dorchester
              </div>
              <div class="item">
                Next summer, we should target outreach among Government Partners
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
