<div class="ui container">
  <div class="ui grid">
    <div class="five wide column">
      <div class="ui segment">

        <div class="ui statistics">
          <div class="ui large statistic">
            <div class="value">
              <i class="user icon"></i> 3,240
            </div>
            <div class="label">
              Applicants
            </div>
          </div>
          <div class="ui large statistic">
            <div class="value">
              <i class="user icon"></i> 240
            </div>
            <div class="label">
              Accepted
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="eleven wide column">
      Charts
    </div>
  </div>
</div>
{{outlet}}
